# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de configuración locales
.env
.env.local
.env.*.local

# Ignorar archivos generados por IDEs
.vscode/
.idea/

# Ignorar archivos de compilación y dependencias
/build/
/dist/
/node_modules/
npm-debug.log
yarn-error.log

# Ignorar archivos de registros y respaldos
*.log
*.log.*
*.backup
*.swp
