.App {

  background-color:#021400;
  min-height: 1300px;
}

.logo {
  width: 15rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  padding-top: 40px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titles {
  color: yellow;
  font-size:60px;
  font-weight:800;
  letter-spacing: -3px;
  margin-top:50px;
  text-transform: uppercase;
  text-align:center
  
}

.Buscador{
  width: 300px;
  background-color:#8caa72;
  border:none;
  height: 50px;
  padding: 10px;
  border-radius: 30px;

}

.Buscador:active{
  border:none;
}

.Buscador.Buscador::selected{
  border:none;
}

.whiteTitle{
  color:#fff;
}

.card{
 
  width: 90%;
  background-color: #8CAA72;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  margin-top: 50px;
  text-align:center;
  text-transform:uppercase;
}

a:link {
  text-decoration:none;
}

.StatusGreen {
  background-color:green;
height:auto;
  width:20px;

}

footer {
  height: 230px;
  margin-bottom: -50px;
  background-color: #000;
  padding: 40px 0px;


}


.ficha {
  text-align:left;
  color:#fff;
  font-size: 25px;
  padding-left: 20px

}

.fichaRight {
  border-left: solid 3px #E5AF00;
  font-size: 25px;
  padding-left: 20px
}

.picFicha {
  margin:0 auto}


.titleFicha {
  color:#E5AF00;
  font-weight:800;
  text-transform:uppercase
}
.titlePrincipalFicha{
  font-weight:800;
  text-transform:uppercase;
  color: #fff;
  font-size: 40px;
  margin-bottom: 40px;
  text-align:center
}

.characterTable {
  padding-top:65px
}

.botonMenu {
  background-color: rgb(140, 170, 114, 0);
  border: solid 2px rgb(140, 170, 114);
  font-weight:600;
  text-transform: uppercase;
  margin-top:5px;

}

.botonMenu:hover {
  background-color: rgb(140, 170, 114);
  border: solid 2px rgb(140, 170, 114);
}

.botonMenu:focus {
  background-color: rgb(140, 170, 114);

}

.navBar {
  background-color: rgb(140, 170, 114);
}

.buttonNav {
  border: solid 2px #333;
  padding:5px;
  text-transform:uppercase;
  font-weight:800;
  margin-bottom: 20px;


}

.buttonNav:hover {
  border: none;
  color:#fff;
  border: solid 2px #021400;
  background-color:#021400;

}

ul a{
 list-style:none;
 color:#fff;

}

ul a li{
 margin-bottom:10px;
 
 }

 .titleType {

   background-color: #222;
   padding: 40px;
 }

 .feedLocation {
  margin-top: 90px

 }

 button[disabled] {
   display:none;
 }

 .creditsFooter {
   font-size:20px;
   color:#ffF;
   text-align:center;
   font-weight: 600;
   text-transform:uppercase
 }

 .creditsFooterMe {
  font-size:30px;
  color:#ffF;
  text-align:center;
  font-weight: 700;
  text-transform:uppercase;
  margin-bottom: 30px;
 }

 .creditsFooterMe a{
  color:#fff;
 }

 .descriptionHome {
   text-align: center;
   color:#fff;
   font-size: 40px;
   padding: 80px;
 }

 .buttonDown {
   font-weight: 800;
   font-size: 20px;
   color: #E5AF00;
   text-align:center
 

 }

 .buttonDown span {
  border: solid 3px #fff;
  padding: 10px;
  border-radius: 10px;
  
}

.buttonDown span:hover {
  border: solid 3px #E5AF00;
  background-color:#fff;
  cursor:pointer;
  border-radius: 2px ;
  
}

.services {

  margin-top: 200px;

}

.bGrey {background-color:#111;
        font-size: 30px;
        color: #fff;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        padding: 60px;}
.bYellow { background-color:#D49F00;
          font-size: 30px;
          color: #111;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          padding: 60px;}

.subtitleHome {font-size:40px; 
              font-weight: 900; 
              letter-spacing:-3px; 
              color:#fff;
              text-transform: uppercase;
              text-align:center;
              margin-bottom: 50px;
            }


.textWhite {color:#fff;}
.textBlack {color:#111;}


.botonleft {
  text-align: right
}
.botonRight {
  text-align: right
}

.botonsBottom {
margin-top: 40px;
padding-bottom: 50px;
}

.botonSup {
  text-align:center;
  margin-top: 20px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .logoSup {
    text-align:center;
    margin-top: 20px;
  }
  }


.picCharacter {padding: 30px;}

